.posted_date {
        background: #fff2e8;
        border-radius: 6px;
        padding: 0 5px;
        width: fit-content;
}

.ql-snow .ql-editor a {
        text-decoration-color: blue !important;
}