.black {
    color: black !important;
}

.link:hover {
    color: black;
    text-decoration: none;
}

/* #FE8402 */
/* #516CF0 */
.btn {
    background-color: #516cf0 !important;
    width: 200px;
    height: 40px;
}

.btn:hover {
    background-color: #fe8402 !important;
    border: #fe8402 !important;
}

.navbar {
    height: 4vw;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.navbar-logo {
    height: 30px;
    /* Adjust as needed */
}

@media (max-width: 1000px) {
    .navbar {
        height: auto;
        padding: 10px 0;
    }

    .navbar-logo {
        height: 24px;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
        height: 38px;
    }

    .navbar-collapse {
        background: white;
        padding: 10px 0;
    }

    .nav-link {
        margin: 5px 0;
        text-align: center;
    }

    .m-md-3 {
        margin: 0 !important;
    } }